/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/09/2016, 07:46:57 PM
    Author     : Felipe Cardenas
*/
@media (min-width: 768px) {
    .dropdown-menu.dropdown-xs-only {
        display: inline;
        left: inherit;
        top: inherit;
        position: relative;
        margin: inherit;
        padding: inherit;
        border: inherit;
        font-size: inherit;
        font-weight: inherit;
        color: inherit;
        background-color: inherit;
        -webkit-box-shadow: inherit;
        box-shadow: inherit;
    }

        .dropdown-menu.dropdown-xs-only > li {
            display: block;
            float: left;
        }

            .dropdown-menu.dropdown-xs-only > li > a {
                /* bnt */
                display: inline-block;
                padding: 6px 12px;
                margin-bottom: 0;
                font-size: 14px;
                font-weight: normal;
                line-height: 1.42857143;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                background-image: none;
                border: 1px solid transparent;
                border-radius: 4px;
                /* btn default */
                color: #333;
                background-color: #fff;
                border-color: #ccc;
            }

    .btn-group .dropdown-toggle {
        display: none;
    }

    .btn-group.open .dropdown-toggle {
        display: none;
    }
}
.cuadro-size{
    height: 100px;
    
}
.left{
    float: left;
    background:blue
}
.right{
    float: right;
    background:red
}
.center{
    background:green;
}

.boxesfix{
	background-color: #fac564;
}
.btngroupfix{
	
  
	  cursor: pointer;
	text-align: center;
	
}

