<!DOCTYPE html>
<div class="page-header">
  <div class="panel panel-default">
  <div class="panel-body">
     <div class="jumbotron">
  <h1>Categoria {{categorie}}</h1>
  <p>Regresar</p>
  <p><a class="btn btn-primary btn-lg" href="#/marca" role="button">Categorias</a></p>
</div>
      <h1> <small>Productos</small></h1>
  </div>
  

<div class="row" >
    <div  ng-repeat="product in products | filter:buscarproduct | orderBy:orderProp">

       
		<div class="col-sm-6 col-md-4">
		 
			<div class="thumbnail">
			  <img src="{{product.img}}" class="glyphicon glyphicon-star" alt="{{product.name}}">
			  <div class="caption">
					<h3>{{product.name}}</h3>
					<p>{{product.best_seller}}</p>
					<p>{{product.description}}</p>
					<p>${{product.price}}</p>
					<p>{{product.available}}</p>
					
					<p><a class="btn btn-primary" ng-click="addProducts(product.id,product.name,product.price)" role="button">Añadir</a></p>
			  </div>
			</div>
			
		  </div>
       
       
   
  </div>

</div>
      
      
    </div>
    </div>