<!DOCTYPE html>
 <h1>Carrito de Compras</h1>
  <h2>Lista de Compras</h2>
    <hr class="brace">
<div class="row" >
	<ul class="list-group">
		<div  ng-repeat="carrito in carritos">
		  <li class="list-group-item boxesfix">
			<div >
				<span class="badge"><h4>{{carrito.cant}}</h4></span>
				<span><a>{{carrito.name }}</a></span>
				<span>$ {{ carrito.price}}</span>
				
				<div class="btn-group btngroupfix" role="group" aria-label="...">
				<button type="button" class="myButton "  ng-click="addProducts(carrito.id,1)" >+</button>
				<button type="button" class="myButton" ng-click="addProducts(carrito.id,-1)">-</button>
				</div>
			</div>
			
		  </li>
		</div>
</ul>
</div>
 
                   
