<!DOCTYPE html>
  <h1>Categorias </h1>
  <h2>seleccionemos categoria</h2>
    <hr class="brace">	



	
    <div  ng-repeat="categorie in categories | filter:buscat | orderBy:orderProp">

       <div class="col-xs-6 col-md-3 boxesfix" >	
           <a href="#/referencia" class="thumbnail"  ng-click="myFunc(categorie.categori_id,categorie.name)">
              <button type="button" class="list-group-item">{{categorie.name}}</button>
            </a>
        </div>
		   



</div>
       
 
                   
